/* The reset file is in a separate css file named reset.css, the font is located and applied on all text elements there as well. */

/* Universal styling */

body {
    background-color: #375D44;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

@supports (height: 100dvh) {
    body, .section.grid-system, .add_rows_section, .add_rows_container {
        height: 100dvh;
    }
}

h2 {
    font-size: 2.5rem;
    text-shadow: 1px 1px 2px rgba(0,0,0, 0.25);
}

h1, h4, label, button, a {
    font-family: "Roboto", sans-serif;
    font-size: .9rem;
    margin-bottom: .6rem;
    text-shadow: 1px 1px 2px rgba(0,0,0, 0.25);
}

@media only screen and (max-width: 380px) {
    h2 {
        font-size: 2rem;
    }
    h4, label {
        font-size: .8rem;
    }
  }

/* Grid styling, used to position all the elements on the screen. */

section.grid-system {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(40, 1fr);
    overflow: hidden;
    box-sizing: border-box;
}

/* Information button */

#information-button {
    position: absolute;
    top: .7rem;
    right: .7rem;
    width: 1.7rem;
    height: 1.7rem;
    margin-left: 1.3rem;
}

#information-button::before {
    width: 1.7rem;
    height: 1.7rem;
}

.info-btn::before {
    background: url('../svg/information_icon.svg') no-repeat center center;
    background-size: contain;
}

/* Information modal/popup */

.information-modal-overlay {
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
 
.information-modal-wrapper {
    position: relative;
    width: 300px;
    height: 360px;
    background: ghostwhite;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.information-modal-wrapper h1 {
    margin-top: 1.5rem;
    font-size: 1.1rem;
    color: rgb(90, 90, 90);
    text-align: center;
    text-shadow: none;
}

.information-modal-wrapper h4 {
    margin-top: .6rem;
    padding: 0 2rem;
    color: rgb(90, 90, 90);
    text-align: center;
    text-shadow: none;
}

/* Wrapper layout */
.socials-wrapper {
    margin-top: auto;
    margin-bottom: .5rem;
    border-top: 1px solid rgb(230, 230, 230);
}

/* Socials links */
.socials-wrapper ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: .5rem;
}

/* Copyright text */
.socials-wrapper h4 {
    text-align: center;
    text-shadow: none;
    margin-top: .5rem;
    color:#dbdbdb;
    font-size: .6rem;
    font-style: italic;
}

/* Socials links styling */
 .social-list-items {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #252525;
    text-shadow: none;
    font-weight: bold;
    font-size: .8rem;
    margin: 0 .5rem;
    padding: .5rem .5rem;
}

.social-list-items:active {
    color: rgb(121, 121, 121);
}

.socials-wrapper li {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Socials icons */

/* Linkedin social icons */
.social-item1:before {
    display: inline-flex;
    content: '';

    /* Using the background-image and
       its related properties to add
       the SVG content */
    background-image: url('../svg/linkedIn_icon.svg');
    background-size: 1rem 1rem;
    height: 1rem;
    width: 1rem;
    margin-right: .3rem;
}

/* Github socail icon */
.social-item2:before {
    display: inline-flex;
    content: '';

    /* Using the background-image and
       its related properties to add
       the SVG content */
    background-image: url('../svg/github_icon.svg');
    background-size: 1rem 1rem;
    height: 1rem;
    width: 1rem;
    margin-right: .2rem;
}

/* Hub tyling */

.container_rows_summary {
    grid-row: 3 / 4;
    grid-column: 3 / 6;
}

/* Divider styling */

.divider {
    grid-row: 3 / 4;
    grid-column: 6 / 7;
    width: .1rem;
    height: calc(100% - .4rem); /* Adjust height to account for padding using calc */
    background-color: #ECEADF;
    border-radius: 1rem;
    margin: auto;
    padding: .2rem 0;
    box-sizing: border-box;
}

.container_rows_done {
    grid-row: 3 / 4;
    grid-column: 7 / 10;
}

.container_rows_per_hour {
    grid-row: 5 / 6;
    grid-column: 5 / 8;
}

.container_working_hours {
    grid-row: 5 / 7;
    grid-column: 3 / 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Text to the right of hours input field */
.container_working_hours h4 {
   margin-left: .3rem;
   font-weight: normal;
   margin: auto auto auto .5rem;
}

.hours-form {
    display: flex;
    align-items: end;
}

.plus30min_container {
    margin-top: .7rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.plus30min_container label {
    margin: 0 .4rem 0 0;
    white-space: nowrap;
}

/* Maintains readable text in the row HUD for smaller devices */

@media only screen and (max-width: 550px) {
    .container_rows_summary {
        grid-row: 3 / 4;
        grid-column: 2 / 6;
    }

    .container_rows_done {
        grid-row: 3 / 4;
        grid-column: 7 / 11;
    }

    .container_working_hours {
        grid-row: 4 / 7;
        grid-column: 2 / 4;
    }
  }

/* General input styling */

.row_quantity_input, .hours_input {
    /* Remove default styling for inputs */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    outline: none;

    font-family: "Roboto", sans-serif;
    border-radius: .2rem;
    border-color: #375D44;
    text-align: center;
    padding: .4rem 0;
    font-weight: bold;
    font-size: 1rem;
    color: #375D44;
    background-color: #fffefa;
    border: .5rem solid #41684f;
    border-width: .13rem;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

/* Input checkbox size styling */

input[type=checkbox] {
    /* Double-sized Checkboxes */
    -ms-transform: scale(1.4); /* IE */
    -moz-transform: scale(1.4); /* FF */
    -webkit-transform: scale(1.4); /* Safari and Chrome */
    -o-transform: scale(1.4); /* Opera */
    transform: scale(1.4);
  }

/* Hours input styling */

input.hours_input {
    width: 1.7rem;
    height: 1.3rem;
    padding: 0.1rem;
    font-size: .8rem;
    color: white;
    border-color: white;
    background-color: #375D44;
    border: .13rem solid #618a70;
    text-align: center;
    border-radius: .2rem;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

/* Add user rows container styling */

.add_rows_section {
    grid-row: 8 / -1;
    grid-column: 1 / 12;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: auto;
    width: auto;
    border-radius: 1rem 1rem 0 0;
}

.add_rows_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
}

/* User rows styling */

.user_rows {
    margin-top: .8rem;
    width: 70%;
}

.user_rows h4 {
    text-shadow: none;
    font-weight: 450;
    color: #7a7a7a;
}

.user_rows:nth-child(1) {
    margin-top: 2rem;
}

/* Adds margin so that the row items can be scrolled beyond the buttons. */
.user_rows:last-child {
    margin-bottom: 8rem;
}

/* Add/remove row button styling */

    .btn_container {
        position: absolute;
        bottom: 1.5rem;
        right: 1.8rem;
        display: flex;
        justify-content: end;
        align-items: center;
        touch-action: manipulation;
    }

    .btn {
        width: 3rem;
        height: 3rem;
        border: none;
        background-color: transparent;
        cursor: pointer;
        position: relative;
        touch-action: manipulation;
        border-radius: 50%;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
        transition: opacity 0.02s ease-in-out; /* Add/remove button animations */
    }

    .btn::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
    }

    #add-row-button {
        margin-left: 1.3rem;
        opacity: 1;
    }

    #remove-row-button {
        opacity: 1;
    }

    #add-row-button::before {
        width: 3.5rem;
        height: 3.5rem;
    }

    .remove-btn::before {
        background: url('../svg/remove_btn.svg') no-repeat center center;
        background-size: contain;
    }

    .add-btn::before {
        background: url('../svg/add_btn.svg') no-repeat center center;
        background-size: contain;
    }

    /* Button animation */

    #add-row-button:active {
        opacity: .7;
    }

    #remove-row-button:active {
        opacity: .7;
    }


    /* Modal window */

    .modal-overlay {
        background: rgba(0, 0, 0, 0.3);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
     
    .modal-wrapper {
        position: relative;
        width: 300px;
        height: 150px;
        background: ghostwhite;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }

    .modal-wrapper h1 {
        margin-top: 2rem;
        font-size: 1.1rem;
        color: rgb(90, 90, 90);
        text-align: center;
        text-shadow: none;
    }
     
    .modal-btns-wrapper {
        margin-top: auto;
        display: flex;
        justify-content: center;
        align-content: end;
        margin-bottom: 1.2rem;
    }

    /* Modal buttons */

    .accept-modal-btn,
    .close-modal-btn {
        padding: 15px 45px 15px 45px;
        border-radius: 5px;
        font-size: 1rem;
        color: #555555;
        font-weight: 5px;
        cursor: pointer;
        font-weight: bold;
        text-shadow: none;
        margin: 0; /* Margin reset to stop inheritence from previous button styling */
    }

    .accept-modal-btn {
        margin-right: 15px;
        border: .5rem solid #e6e6e6;
        border-width: .13rem;
        border-radius: .2rem;
    }

    .close-modal-btn {
        margin-left: 15px;
        background-color: #d8d8d8;;
    }
     
    .close-btn-wrapper {
        display: flex;
    }
     
    .hide {
        display: none;
    }

    /* Modal buttons interactions styling */

    .accept-modal-btn:active,
    .close-modal-btn:active {
        background-color: #b9b9b9;
    }

    /* Button animation */
    

/* Row styling,  centers the row container items within the cells of the grid using flex-box */

.row_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-7-17 14:27:54
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shadow-drop-center
 * ----------------------------------------
 */

 /* Uncomment to add backgroudn shadow on buttonpress
 .shadow-drop-center {
	-webkit-animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes shadow-drop-center {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
              box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
  }
  @keyframes shadow-drop-center {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
              box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
  }
  */

/* Alters duration of fadein animation on all modals/popups */
  .animate__animated.animate__fadeIn {
    --animate-duration: .4s;
  }